* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "HoltwoodOneSC-Regular";
    src: url(/fonts/HoltwoodOneSC-Regular.woff2);
}

@font-face {
    font-family: "Mako-Regular";
    src: url(/fonts/Mako-Regular.woff2);
}

@font-face {
    font-family: "Nosifer-Regular";
    src: url(/fonts/Nosifer-Regular.woff2);
}


:root {
    --text-high: #fff;
    --accent: #2EF5FF;
    --container-bg: #4D9DA1;
    --btn-text: #000000;
    --bg-primary: #005662;
    --text-low-1: #EEFCFD;
    --text-low-2: #E6F4F1;

    --font-display: "Nosifer-Regular", sans-serif;
    --font-heading: "HoltwoodOneSC-Regular", serif;
    --font-body: "Mako-Regular", sans-serif;
}

body {
    background-color: var(--bg-primary);
    overflow-x: clip;
}

span {
    color: var(--accent);
}

.logo {
    margin-right: auto;
    font-family: var(--font-display);
    color: var(--text-high);
    padding: 1em;
}

.navbar {
    display: flex;
    background-color: var(--bg-primary);
    flex-direction: row;
    border-bottom: 1px solid var(--container-bg);
    top: 0;
    z-index: 10;
    position: sticky;
    min-width: 100vw;
}

.navbar ul {
    display: flex;
    gap: 2em;
    padding: 1em;
    padding-right: 1.8em;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--text-high);
    font-family: var(--font-display);
    font-size: 0.8em;

    &:hover {
        color: var(--accent);
    }
}

.hero, .about, .services {
    width: 100vw;
    height: 100vh;
}

.header {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 7em;
    color: var(--text-high);
}

.tagline {
    font-family: var(--font-body);
    font-size: 1.8em;
    color: var(--text-low-2);
}

.hero {
    background: url(images/painting-class.webp) no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14em;
    gap: 1em;
}

.cta-btn {
    background-color: var(--accent);
    padding: 1em 2em;
    border-radius: 1em;
    border: 0.2em solid var(--container-bg);
    text-decoration: none;
    color: var(--btn-text);
    font-family: var(--font-heading);

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}

.about {
    display: flex;
    flex-direction: row;
}

.about .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

.content-wrapper h2 {
    font-family: var(--font-display);
    color: var(--text-high);
    font-size: 7em;
    padding-top: 0.8em;
    justify-content: flex-start;
}

.content-wrapper p {
    font-family: var(--font-body);
    color: var(--text-low-2);
    font-size: 2em;
    text-wrap: balance;
}

.about img {
    max-width: 440px;
    max-height: 440px;
    justify-content: flex-end;
    margin-right: 5em;
    margin-top: 8em;
    border: 1em solid var(--container-bg);
    border-radius: 0 100px 0 100px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    gap: 2em;
}

.services h2 {
    font-family: var(--font-display);
    font-size: 7em;
    color: var(--text-high);
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.service-card {
    display: flex;
    flex-direction: column;
    background-color: var(--container-bg);
    border: 0.4em solid #fff;
    padding: 2em;
    gap: 2em;
    text-wrap: balance;
    border-radius: 2em;

    & h3 {
        font-family: var(--font-display);
        color: var(--text-high);
        text-align: center;
    }
    & li {
    font-family: var(--font-body);
    color: var(--text-low-2);
    margin-left: 2em;
    }
}

.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-family: var(--font-display);
        font-size: 5em;
        color: var(--text-high);
    }
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-bg);
    padding: 0.6em;
    border: 2px solid #fff;
    border-radius: 1em;
    padding-inline: 2em;
}

.form-field {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form input, form submit, form textarea, form select {
    padding: 0.2em;
    border-radius: 0.2em;
    border: 2px solid #111111;
}

form label {
    display: block;
    font-family: var(--font-body);
    color: var(--text-high);
    font-size: 1.1em;
}

form button {
    background-color: var(--accent);
    font-family: var(--font-heading);
    padding: 1em 2.5em;
    border-radius: 1em;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}

form select {
    cursor: pointer;
}

